.wrapper-card {
    color: #fff;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 5% auto 0 auto;
}

.upper-categories {
    position: absolute;
    right: 5%;
    top: 5%;
    display: flex;
    flex-direction: row;
}

.center-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.center-img > img {
    height: 40vh;
    width: 95vw;
    object-fit: cover;
}

.lower-info {
    margin-left: 36px;
}

.title {
    margin-top: 22px;
    font-weight: 400;
    font-size: 26px;
}

.location-info {
    display: flex;
    flex-direction: rows;
    gap: 25px;
    font-weight: 300;
    margin-top: 7px;
}

.metro-icon {
    width: 10px;
    height: 10px;
    background-color: #E84E0E;
    border-radius: 50%;
    content: '';
}
.metro-info {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.walk-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.price {
    margin-top: 5px;
    font-weight: 300;
}

img {
    border-radius: 15px;
}

.category {
    padding: 10px 15px;
}

.orange {
    background-color: #E84E0E;
}

.grey {
    background-color: #3F3F40;
}

