.round-button {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-color: #1C1C1E;
    border: 2px solid #3f3f40;
    border-radius: 50%;
    font-size: 2.1rem;
    color: #fff;
}

.round-button:hover {
    cursor: pointer;
}

.active {
    background-color: #E84E0E;
}