@font-face {
    font-family: 'Futura Futuris';
    src: local('Futura Futuris Light'), local('Futura-Futuris-Light'),
        url('FuturaFuturisLightC.woff2') format('woff2'),
        url('FuturaFuturisLightC.woff') format('woff'),
        url('FuturaFuturisLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Futuris';
    src: local('Futura Futuris Regular'), local('Futura-Futuris-Regular'),
        url('FuturaFuturisC.woff2') format('woff2'),
        url('FuturaFuturisC.woff') format('woff'),
        url('FuturaFuturisC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}