.control-dots {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 10%;
    align-items: center;
    bottom: -70px !important; 
    position: absolute;
}

.carousel-status {
    visibility: hidden;
}

.carousel-image {
    height: 40vh;
    width: 95vw;
    object-fit: cover;
}

.carousel.carousel-slider {
    overflow:visible !important;
}