.control-dots {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 25%;
    align-items: center;
    bottom: -60px !important; 
    position: absolute;
}

.carousel-image {
    height: 35vh;
}

.carousel.carousel-slider {
    overflow:visible !important;
}