
@media screen and (max-width: 365px) {
    span, button {
        font-size: 1.3rem;
    }

    .round-button {
        width: 3rem;
        height: 3rem;
    }

    .btn-container > .wrp > button > span {
        font-size: 0.8rem !important;
    }

    .adaptive {
        font-size: 1rem !important;
    }
}