main {
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
  background-color:#141414;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-height: 100%;
  width: 100%;
  position: relative;
}
